@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
}

.header, .close {
  display: none;
}
.side-bar-name{
  width: 8%;
  position: absolute;
  top: 50px;
  left: 70px;
  font-family: 'Playfair Display', serif;
}
.side-bar {
  position: absolute;
  top: 170px;
  left: 70px;
}
.side-bar li {
  height: 56px;
  width: 100%;
  list-style: none;
  font-size: large;
  font-weight: bold;
  color:rgb(71, 69, 69);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  position: relative;
}
.side-bar li::before {
  content: "";
  display: block;
  height: 2px;
  background: tomato;
  position: absolute;
  left: 0;
  width: 0;
  transition: width ease-in-out 250ms;
}
.side-bar li:hover::before {
  width: 60%;
}

.cart-button {
  position: absolute;
  bottom: 130px; 
  left: 80px;
  width: 8%;
  height: 7%;
  border-style: none;
  outline: none;
  border-radius: 28px;
  background-color: rgb(250, 73, 63);
  color: white;
  font-size: larger;  
}
.cart-button:hover {
  cursor: pointer;
  background-color: rgba(255, 99, 71, 0.856);
}

.content {
  position: absolute;
  top: 80px;
  left: 25%;
  font-size: xx-large;
  font-family: 'Playfair Display', serif;
  overflow: hidden;
}
.lorem-content {
  width: 22%;
  position: absolute;
  top: 110px;
  right: 120px;
  line-height: 1.7;
  color: rgb(107, 105, 105);
}
.half-border {
  position: relative;
  padding-bottom: 1em;   
}
.half-border::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 30%;
  border-bottom: 3px solid tomato;
}


.food-menu {
  height: 30%;
  position: absolute;
  bottom: 120px;
  left: 25%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  justify-content: space-evenly;
}
.item-img {
  height: 90%;
  width: 80%;
  border-radius: 25px;
  background-color: rgb(246, 253, 222);
  box-shadow: 15px 15px 15px rgb(233, 229, 229);
  overflow: hidden;
  text-align: center;
}
.item-img img {
  margin-top: 1em;
  width: 70%;
  height:60%;
  border: 1px solid rgb(206, 194, 196);
  border-radius: 50%;
  object-fit: cover;
  transition: 0.6s all ease-in-out; 
}
.item-img:hover img {
  transform: scale(1.2);
}

figcaption {
  margin: .5em 0;
  font-size: 1.2rem;
  font-weight: bold;
  color:black;
}


    /* for responsive */
    
@media (max-width: 600px) {
.container {
  width: screen;
  height: 100vh;
  border: 1px solid black;
  background-color: rgb(250,250,250);
}
.header, .close {
  display: block;
}
.side-bar {
  position: fixed; 
  z-index: 1;
  top: 0;
  left: -3px;
  width: 0;
  border: none;
  background-color: rgb(250,250,250);
  overflow-x: hidden;
  overflow: hidden;
  transition: 0.5s;
  color:rgb(75, 70, 70);
  box-shadow: 1px 1px 10px  gray;
}



.navbar {
  position: absolute;
  top: 30px;
  left: 20px;
  cursor: pointer;
  /* position: relative; */
  transition: all 0.3s ease;
}
.navbar div{
  height: 5px;
  background-color:rgb(248, 83, 54);
  position: absolute;
  transition: all 0.5s ease;
}
.navbar .first{
  width: 25px;
}
.navbar .second{
  top: 10px;
  width: 35px;
}
.navbar .third{
  top: 20px;
  width: 35px;
}
.close {
  position: absolute;
  right: 12px;
  top:12px;
  font-size: xx-large;
  font-weight: bolder;
  cursor: pointer;
}
.heading {
  position: absolute;
  top: 20px;
  left: 130px;
  font-family: 'Playfair Display', serif;
  font-size: xx-large;
}
.cart-icon{
  position: absolute;
  right: 20px;
  top: 25px;
  width: 35px;
  height: 35px;
}
.side-bar-name,
.cart-button {
  display: none;
}
.content {
  position: absolute;
  top: 120px;
  left: 20px;
  font-size: medium;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}
.food-menu {
  position: absolute;
  top: 33%;
  left: 5%;
  height: 52%;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 15px;
  justify-content: space-evenly;
  justify-items: center;
  overflow: scroll;
  }
.food-menu::-webkit-scrollbar {
  width: 0;
}
.item-img{
  height: 150px;
  width: 90%;
  overflow: hidden;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 20px 15px 20px rgb(233, 229, 229);
  border: 1px solid rgb(243, 242, 233);
  padding-bottom: 0;
}
.item-img img{
  margin-top: 20px;
  width: 70%;
  height: 65%;
  border-radius: 50%;
  object-fit: cover;  
  border: 1px solid rgb(243, 242, 233);
}
figcaption {
  font-size: 1rem;
}
.lorem-content {
  width: 80%;
  height: 15%;
  position: absolute;
  top: 85%;
  left: 10px;
  margin: 10px;
  line-height: 1;
}
}